@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap')

/* font family  */
.font-family{
    font-family: "Mulish", sans-serif;
}
#news-container{
    display: flex;
    justify-content: space-around;
    gap: 12px;
    margin-top: 16px;
    padding: 16px;

}